.avosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 14px;
}
@media screen and (min-width: 612px) {
  .avosContainer {
    gap: 1em;
  }
}
.avoCard {
  max-width: 333px;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 6px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.avoCard:hover {
  transform: translateY(-2px);
}
.avoInfo {
  border-top: 8px solid rgb(235, 235, 235);
  padding: 10px 20px;
}
.avoInfo h2 {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 0 5px 0;
}
.avoInfo p {
  font-size: 1rem;
  margin: inherit;
}
