.avoDetailContainer {
  padding: 0 14px;
}
.avoPrice {
  margin-bottom: 0;
}
.avoBarCode {
  padding: 0.3em 0.6em;
  background: #e8e8e8;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  line-height: 4;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}
.avoDetailContainer div > h3 {
  margin-top: 30px;
}
.borderBottom {
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
}
